<div class="modal {{isAuthorized && 'hide' || 'show'}}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Please Login</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="txtLogin">Login</label>
            <input class="form-control" id="txtLogin" placeholder="Enter login" ng-model="txtLogin">
          </div>
          <div class="form-group">
            <label for="txtPassword">Password</label>
            <input type="password" class="form-control" id="txtPassword" placeholder="Password" ng-model="txtPassword">
          </div>
        </form>
        <div class="alert alert-danger" ng-show="showError">{{errorMessage}}</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="authorize()">Login</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal-backdrop fade in {{isAuthorized && 'hide' || 'show'}}" ng-show="!isAuthorized"></div>