<!doctype html>
<html ng-app="zook">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Zook</title>
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/client.css">
    <!-- endbuild -->
  </head>
  <body ng-controller="MainCtrl" ng-keyup="$event.keyCode == 13 ? continue() : null">
    <div class="block" style="height:100%;">
      <div class="centered">
        <div class="container-fluid" style="text-align:left;">
          <div class="row">
            <div class="col-md-12">

              <div class="panel panel-default" ng-if="isConnected">
                <div class="panel-heading">
                  <div class="pull-left">
                    {{title}}
                  </div>
                  <div class="pull-right">
                    <span ng-show="timerIsRunning">{{getRemainingTime()}}s</span>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="panel-body" ng-switch on="subject.state_name">
                  <div ng-switch-when="passive">
                    <wait ng-if="!session.is_started"></wait>
                    <p ng-if="session.is_started">Session is already started. Clients can't join ongoing sessions.</p>
                  </div>

                  <div ng-switch-when="initial">
                    <form role="form">
                      <div class="form-group">
                        <label class="control-label" for="txtClientName">Enter a name for this client</label>
                        <input id="txtClientName" ng-model="subject.name" type="text" class="form-control" autofocus>
                      </div>
                    </form>
                  </div>

                  <div ng-switch-when="waiting">
                    <wait ng-if="!session.is_finished"></wait>
                    <div ng-if="session.is_finished">
                        <p>The experiment has ended.</p>
                        <p>Please wait quietly at your computer, until we come to you to pay you, or ask you to come to us.</p>
                        <p>Please allow us to pay each person in privacy.</p>
                    </div>
                  </div>

                  <div ng-switch-when="active">
                    <div ng-switch on="group.stage">
                      <stage0 ng-switch-when="0"></stage0>
                      <stage2 ng-switch-when="2"></stage2>
                      <stage5 ng-switch-when="5"></stage5>
                      <stage7 ng-switch-when="7"></stage7>
                      <stage8 ng-switch-when="8"></stage8>
                      <stage10 ng-switch-when="10"></stage10>
                      <stage12 ng-switch-when="12"></stage12>
                      <stage13 ng-switch-when="13"></stage13>
                      <stage15 ng-switch-when="15"></stage15>
                      <stage16 ng-switch-when="16"></stage16>
                    </div>
                  </div>

                  <div ng-switch-when="robot">
                    <div ng-if="subject.is_suspended">
                      <p>Your client has been suspended.</p>
                    </div>
                    <div ng-if="!subject.is_suspended">
                      <p>You have incurred losses that wiped out the <strong>{{session.starting_balance | currency}}</strong>, and at least <strong>{{session.maximum_loss | currency}}</strong> losses since.</p>
                      <p>We will forgive these losses, but it is critical to the experiment that we do not let you continue.</p>
                      <p>As soon as we have arranged for the experiment to continue, we will come get you, pay you your <strong>{{session.show_up_fee | currency}}</strong> show-up fee, and have you sign a receipt.</p>
                    </div>
                  </div>
                  
                  <div class="clearfix"></div>
                </div>
                <div class="panel-footer">
                  <div class="pull-left">
                    <button type="button" class="btn btn-info" ng-if="session.is_started && !session.is_finished" ng-click="instructionsVisible = !instructionsVisible">
                      <span class="glyphicon glyphicon-info-sign"></span> Instructions
                    </button>
                  </div>
                  <div class="btn-group pull-right">
                    <button type="button" class="btn btn-primary" ng-disabled="isWaiting" ng-click="continue()">
                      <span class="{{ isWaiting && 'glyphicon glyphicon-refresh' || 'glyphicon glyphicon-ok'}}"></span> {{ isWaiting && 'Wait' || (group.label_continue || 'Continue') }}
                    </button>
                  </div>

                  
                  <div class="clearfix"></div>
                </div>
              </div>
            </div><!-- /.col-md-12 -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div><!-- /.centered -->
    </div>

    <message-box></message-box>

    <div class="modal {{instructionsVisible && 'show' || 'hide fade'}}">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" ng-click="instructionsVisible = false">&times;</button>
            <h4 class="modal-title">Instructions</h4>
          </div>
          <div class="modal-body">
            <p>Bla bla.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="instructionsVisible = false">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <connection></connection>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts-client.js -->
    <script src="scripts/client/app.js"></script>
    <script src="scripts/services/log.js"></script>
    <script src="scripts/services/socket.js"></script>
    <script src="scripts/controllers/connection.js"></script>
    <script src="scripts/controllers/message-box.js"></script>
    <script src="scripts/directives/connection.js"></script>
    <script src="scripts/directives/message-box.js"></script>
    <script src="scripts/client/controllers/main.js"></script>
    <script src="scripts/client/directives/wait.js"></script>
    <script src="scripts/client/directives/stages.js"></script>
    <!-- endbuild -->
    
  </body>
</html>