<table class="table table-hover table-striped">
  <thead>
    <th><a ng-click="predicate = 'name'; reverse=!reverse">Name</a></th>
    <th><a ng-click="predicate = 'name'; reverse=!reverse">State</a></th>
    <th></th>
  </thead>
  <tbody>
    <tr ng-repeat="s in subjects | orderBy:predicate:reverse track by s.key">
      <td>{{s.name}}</td>
      <td>
        <span class="label" ng-class="{'label-warning': s.state == 'waiting', 'label-success': s.state == 'active', 'label-default': s.state == 'passive', 'label-danger': s.state == 'dropped'}">{{s.state_name}}</span>
      </td>
      <td>
      	<button type="button" class="btn btn-danger btn-xs" ng-click="remove(s.key)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>